*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:#4F3130 ;
}
#container{
  width: 300px;
  border: 2px solid rgb(124, 119, 119);
  height: 64%;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgb(110, 14, 14);
}
#display{
  width: 88%;
  margin: 18px;
  font-size: 2.5rem;
}
.input-btn{
display: flex;
justify-content: center;
flex-wrap: wrap;
}
button{
  width: 75px;
  height: 55px;
  margin: 2.5px;
}